* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

main{
    background-color: rgba(233, 218, 218, 0.67);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    padding: 1.5rem 4rem;
    height: 80px;
}

a{
    text-decoration: none;
}

.contact {
    color: rgb(19, 15, 15);
}

.navbar-left, .navbar-center, .navbar-right {
    display: flex;
    align-items: center;
}

.navbar-center {
    flex-grow: 1;
    justify-content: center;
    width: 80%;
}

.navbar-left{
    width: 38%;
}

.navbar-right a {
    margin: 20px;
}

.navbar-right{
    width: 10%;
}

.submenu{
    color: black;
    font-size: 20px;
}

/* .img{
    display: flex;
    position: absolute;
    height: 87%;
    width: 100%;
    z-index: 1
} */

.section_img{
    display: flex;
    justify-content: center;
}

.img{
    width: 555px;
    height: 780px;
    transition: 0.5s ease-in-out;
}

.img:first-child{
    margin-left: 3px;
}

.img:hover{
    transform: translateX(-15px);
    cursor: pointer;
}
.section_card{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    gap: 7px;
    font-family: sans-serif;
    
}

.section_card2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    gap: 7px;
}

.card {
    background-color: #fff;
    width: 430px;
    /* height: 430px; */
    height: 80%;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(128, 128, 128, 0.783);
  }
  .card img {
    width: 60%;
    height: 150px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-left: 20%;
    margin-top: 5%;
  }
  .card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 40%;
    margin: 20px;
  }
  .card h1 {
    font-size: 1.2rem;
    margin: 5px;
  }
  .card h2 {
    font-size: .9rem;
    color: #5c5c5ceb;
    margin: 5px;
  }
  .card button {
    margin: 5px;
    background-color: #2192FF;
    height: 50px;
    border: none;
    padding: 4px;
    width: 80%;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
   
  }
  .card button:hover {
    background-color: rgb(182, 177, 177);
    color: rgb(248, 248, 252);
    cursor: pointer;
  }

/* tentando colocar um nome sobrepondo as imagens */
.home-title{
    position: absolute;
    top: 650px;
    z-index: 999;
    font-size: 40px;
    font-family: sans-serif;
    color: rgb(41, 39, 39);
}

footer{
    margin-top: 5px;
}

.section-final{
    display: flex;
    justify-content: center;
    background-color: black;
}



